body{
    background-image: url(../Image/background-tuyendung1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
}
#main-page {
    margin: 300px 00 300px 20px;
    border-radius: 10px;
    border: 0.3px solid #000;
   background-color: #fff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

#main-page h1 {
    padding-bottom: 20px;
}

#wraper {
    width: 100%;
    justify-items: center;
    height: 1250px;
}

#btn_back {
    width: 300px;
    height: 42px;
    align-items: center;
    display: flex;
    justify-items: center;

}

#btn_open_form {
    width: 300px;
    height: 42px;
    align-items: center;
    display: flex;
    justify-items: center;
    position: absolute;
    right: 0;
}

#btn_back a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-items: center;

}

#btn_back a:hover {
    color: #ea7225;
    margin-left: -10px;
}

#btn_open_form a:hover {
    color: #ea7225;
    margin-left: 10px;
}

#text-page {
    margin: 30px;
}

#btn_open_form a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    justify-items: center;
}

#btn {
    display: flex;
}

