@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: var(--page-bg);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#main_page {
    width: 100%;
    height: 700px;
    margin: 0;
}

#section-gioithieu {
    display: flex;
    justify-content: center;
    position: relative;
    padding: 50px 15px 50px 15px;
}

#section-content {
    margin-right: 40px;
    margin-left: 0;
}

p {
    margin-top: 0;
    text-align: justify;
}

#section-content p {
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
}

#col-inner {
    margin: 30px;
    height: 322px;
    width: 367px;
    background-color: #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);

}

#main-tuyen-ngon {
    display: flex;
    align-items: center;
    justify-content: center;
}

#text-box {
    text-align: center;
    justify-items: center;
}

.item-center {
    margin: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#text-box {
    padding-top: 10px;
}

#text-box {
    margin-bottom: 10px;
}

#section-content h2 {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 40px;
}

#section-tuyen-ngon {
    margin-bottom: 100px;
}

#col-inner-thanhvien {
    margin: 30px;
    height: 270px;
    width: 250px;
    background-color: #fff;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    justify-items: center;
    display: flex;
    flex-direction: column;
}


#col-inner-thanhvien img {
    width: 200px;
    height: 150px;
    margin-bottom: 30px;
}

#section-content-thanhvien {
    display: flex;
    justify-content: center;
}

#section-thanhvien {
    align-items: center;
    justify-items: center;
}

#col-inner-thanhvien h4 {
    margin-bottom: 10px;
}

@media only screen and (max-width: 1024px) {

    #main_page {
        height: 500px;
    }

    #section-gioithieu {
        flex-direction: column;
        padding: 50px 30px;
    }

    #section-gioithieu img {
        max-width: 80%;
        height: auto;
        margin: 20px auto;
        order: -1;
    }

    #section-content {
        margin: 0 auto;
        max-width: 100%;
    }

    #section-content p {
        font-size: 30px;
    }

    #main-tuyen-ngon {
        flex-wrap: wrap;
        gap: 20px;
    }

    #col-inner {
        width: 45%;
        min-width: 300px;
        height: auto;
        margin: 15px auto;
    }

    #section-content-thanhvien {
        flex-wrap: wrap;
    }

    #col-inner-thanhvien {
        width: 45%;
        margin: 15px auto;
    }
}


@media only screen and (max-width: 768px) {

    #main_page {
        height: 300px;
    }

    #section-content p {
        font-size: 16px;
    }


    #section-gioithieu {
        padding: 30px 15px;
    }

    #section-gioithieu img {
        max-width: 100%;
        margin: 15px 0;
    }

    #section-content p[style] {
        font-size: 28px !important;
        text-align: center !important;
    }

    #col-inner {
        width: 100%;
        margin: 10px 0;
    }

    #col-inner img {
        max-width: 100px;
        height: auto;
    }

    #text-box p:first-child {
        font-weight: bold;
        font-size: 1.2em;
    }

    #section-thanhvien h2 {
        font-size: 2em;
    }

    #col-inner-thanhvien {
        width: 100%;
        margin: 10px 0;
        height: auto;
        padding: 20px 0;
    }

    #col-inner-thanhvien img {
        width: 150px;
        height: 100px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 1200px) {

    #section-gioithieu {
        padding: 50px 40px;
    }

    #section-gioithieu img {
        max-width: 400px;
        height: auto;
    }

    #section-content {
        margin-right: 20px;
        max-width: 500px;
    }

    #main-tuyen-ngon {
        gap: 15px;
    }

    #col-inner {
        width: 300px;
        height: 300px;
        margin: 20px;
    }

    #col-inner-thanhvien {
        width: 220px;
        margin: 20px;
    }
}